header{
	position:fixed;
	height:15%;
	width:100%;
	background:#fff;
	background-color:aliceblue;
	top:0%;
	z-index:666;
}
.image-fond{
	
	background-image:url(image/sakura.jpg);
	background-attachment:fixed;
	background-size:cover;
	
}

.btn-default{
	background-color:PaleTurquoise  ;
}

.container-fluid #listMenu a:hover{
	top:1vh;
	text-decoration:none;
	text-align:middle;
}


header .menu .deconnexion{
	position: fixed;
    right: 0%;
    top: 20px;
    height: 50px;
    width: 25px;
}

.header-wrap .menu #listMenu{
	
	width:100%;
	display:inline-block;
	font-weight: bold;
	float:left; 
	position:fixed;
}
.header-wrap .menu #listMenu ul{
	text-align:center;
	margin-left:15%;
	
}
.header-wrap .menu  #listMenu li{
	display:inline-block;
	width:13%;
	text-align:center;
	vertical-align:middle;
}

header .header-wrap .menu  #listMenu li a{
	font-size: 120%;
	text-align:center;
	vertical-align:middle;
}
header .header-wrap .menu #listMenu .profilIcon{
	width:100%;
	position:static;
}
header .header-wrap .menu #listMenu .profilIcon img{
	height: 4vw;
	width:2.5vw;
	padding-top:1vw;
}
header .header-wrap .menu #listMenu .profilIcon p{
	margin:0px;
}

header .header-wrap .menu #listMenu .disconect{
	width:100%;
	display:inline-block;
	float:right;
}
.diconnect img{
	height:3vh;
	width:2vh;
}

footer {
    text-align: center;
    background-color: AliceBlue;
    height:100%;
	margin-top: 6%;
	padding-bottom:1%;
}

footer p{
	height: 7vh;
	margin-top: 5vh;
    text-shadow: 1px 1px 1px black;
}
.contenu{
	margin-top:20vh;
}

@media (min-width: 768px)grid-framework.col-sm-3 {
    width: 25%;
    top: -3vh;
}



#connexion-menu {
    width: 100%;
   
}
#connexion-menu li{
	width:30%;
}